.header{
    margin-top: 40px;
    width: 90%;
    margin-bottom: 70px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sort_section{
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchbox{
    border: 0.5px solid var(--header_input_light_black);
    border-radius: 3px;
    padding: 8px 9px 8px 12px;
}
.search_input{
    outline: none;
    border: none;
    margin-right: 10px;
}
.bx-search{
    font-size: 19px;
    color: var(--header_input_light_black);
}
.sort{
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    color: #989898;
    margin-right: 10px;
}
.custom_select{
    border: 0.5px solid #C4C4C4;
    border-radius: 3px;
    padding: 8px 9px 8px 12px;
    position: relative;
}
.custom_select:not(:last-child){
    margin-right: 17px;

}
.custom_select p{
    position: absolute;
    top: -17.5px;
    padding: 0px 2px;
    font-size: 10px;
    letter-spacing: 0.01em;
    color: #8F8B8B;
    background: #fff;
}
select{
    outline: none;
    border: none;
    padding: 0px 9px 0px 10px;
    border-radius: 2px;
    font-weight: lighter;
    font-size: 14px;
    line-height: 18px;
}
option{
    padding: 8px 9px 8px 12px;
    font-weight: lighter !important;
    font-size: 14px;
    display: block;
    line-height: 18px;
    color: #C4C4C4 !important;
}


/* ---------MEDIA QUERY----------- */
/* -----------------
-------------------- FOR ALL SCREENS */


/* MEDIA QUERY FOR PHONES AND BIGGER PHONES  */
@media screen and (max-width: 601px){
    .header{
        flex-direction: column;
        width: 100% !important;
        margin-top: 25px;
    }
    .searchbox{
        width: 90%;
        padding: 8px 8px 8px 12px;
    }
    .search_input{
        margin-right: 20px;
    }
    .sort_section{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
        width: 100% !important;
        margin-top: 20px;
        padding: 0 !important;
  
    }.custom_select{
        width: 100%;
        margin-top: 30px;
  
    }
    .sort{
        width: 100%;
        text-align: left;
        margin-bottom: -10px;
        margin-top: -4px;
    }
}  


/* MEDIA QUERY FOR TAB AND PAD  */
@media screen and (max-width: 800px) and (min-width: 602px) {
    .header {
        flex-direction: column;
    }
    .sort_section {
        grid-template-columns: auto;
        margin-top: 30px !important;
    }
    .searchbox {
        width: 90%;
        padding: 8px 8px 8px 12px;
    }
}